body {
    margin: none;
}

#container {
    position: relative;
    width: 350px;
    height: 60px;
    z-index: 1;
}

#title {
    font-family: 'Sofia', serif;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#title a {
    color: black;
}

#channel-name {
    display: block;
    float: left;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
    height: 32px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border-color: black;

    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
}

#start-stream {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 5%;
    cursor: pointer;
    background: url('../img/play-circle.svg');
}

::-webkit-input-placeholder {
    text-align: center;
}
