#twitch-sideplayer-container {
    position: fixed;
    z-index: 10000000000000000;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, supported by Chrome and Opera */
}

#close-twitch-sideplayer {
    position: relative;
    float: left;
    width: 24px;
    height: 24px;
    top: 24px;
    opacity: 0.8;
    margin-left: 10px;
    padding: 0px;
    -webkit-filter: invert(1);
    filter: invert(1);
    cursor: pointer;
}

#move-twitch-sideplayer {
    position: relative;
    width: 24px;
    height: 24px;
    top: 24px;
    opacity: 0.8;
    margin-left: 34px;
    padding-left: 0px;
    -webkit-filter: invert(1);
    filter: invert(1);
    cursor: move;
}

#resize-twitch-sideplayer {
    position: absolute;
    float: left;
    width: 12px;
    height: 12px;
    left: 0px;
    cursor: se-resize;
}